<div class="container text-center text-secondary my-5">
  <h2>About Creators</h2>
  <hr />
  <h4>This application was designed using angular by Zaid Khan</h4>
  <div class="row mt-4">
    <div class="col-md text-start">
      <h6>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
        reiciendis. Laboriosam libero dignissimos animi perferendis est quas
        corporis, ab tempora voluptate minima odit, repellat quibusdam
        architecto sapiente mollitia non nam explicabo? Et consequuntur
        laboriosam nesciunt, inventore qui voluptatibus excepturi sit?
      </h6>
    </div>
    <div class="col-md text-end">
      <h6>
        The images and the assests you see, are taken from storyset or unsplash,
        where as the brand icons are from fontawesome and others are from
        Material UI. The css used for grid system is Bootstrap and for others
        Material UI.
      </h6>
    </div>
  </div>
</div>
