<div class="container">
  <div class="row">
    <div class="col-md">
      <img
        class="d-flex justify-content-center img-fluid"
        src="../../assets/page-not-found.png"
        alt="Page Not Found"
      />
    </div>
    <div class="col-md mt-md-5 pt-md-5">
      <h2 class="pb-2 pt-md-5 text-center text-md-start">
        <strong class="mat-text-primary"> me wow, </strong>
        <br class="d-none d-md-block" />seems like you're in an ally where no
        one comes or goes!!!
      </h2>
    </div>
  </div>
</div>
