<footer class="mat-primary text-light p-2 mt-3">
  <div class="container-flex">
    <div class="row">
      <div class="col-md text-md-start text-center">Connect with us via</div>
      <div class="col-md text-md-end text-center">
        <a class="text-light m-1" href="">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="text-light m-1">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="text-light m-1">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="" class="text-light m-1">
          <i class="fa fa-github"></i>
        </a>
        <a href="" class="text-light m-1">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md m-2 text-md-start text-center">
        <h6 class="text-uppercase">About Us</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
          fugiat aut culpa odio possimus voluptates velit nulla fuga blanditiis
          incidunt quo, corporis tempora temporibus a asperiores omnis dicta
          voluptatem maiores, quaerat nesciunt! Asperiores aut delectus ipsam in
          repellendus atque quo.
        </p>
      </div>
      <div class="col-md text-md-end text-center m-2">
        <h6 class="text-uppercase">about creators</h6>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus saepe
        consectetur, placeat voluptates eaque harum aliquam explicabo ad ratione
        ex?
      </div>
    </div>
    <hr />
    <h6 class="text-center">© Designed by triquetrx</h6>
  </div>
</footer>
