<div class="container mt-5" id="about-us">
  <h2 class="text-center">
    <strong> <span style="color: #d32f2f">About</span> US </strong>
  </h2>
  <div class="row">
    <div class="col-md d-block d-md-none">
      <img
        src="../../assets/about-us.png"
        alt="About us image"
        class="img-fluid"
      />
    </div>
    <div class="col-md text-md-start text-center mt-md-5 pt-md-5">
      <p class="lead ps-2 pt-2">
        We have created this platform to help you reveal your personality and
        hightlight its strengths. Discover how a strong and comprehensive
        application can be an absolute game-changer despite a weak test result.
      </p>
      <button class="ms-2" mat-raised-button color="primary">Read More</button>
    </div>
    <div class="col d-none d-md-block">
      <img
        src="../../assets/about-us.png"
        alt="About us image"
        class="img-fluid"
      />
    </div>
  </div>
</div>
